.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 163, 224, 1);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    align-items: center;
    text-align: center;
}

.footer-content {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    
}

.footer-content-info h3{
        font-size:x-large;

}

.footer-content-info h5 {
    text-align: start;
}

footer {
    padding-top: 50px;
}

.img {
    height: 200px;
    border-radius: 0px;
    width: auto;
}